<div>
  <header>
    <div class='MainPageHeader'>
      <img src='../../assets/gtd_logo.png' style='height: 20px'>
    </div>
  </header>
  <section>
    <div class='Section'>
      <img src='../../assets/img_hero.jpg' class='HeroImage'>
      <img src='../../assets/img_lisa_circle.png' class='LisaImage'>
      <img src='../../assets/img_danielle_circle.png' class='DanielleImage'>
      <img src='../../assets/img_brian_circle.png' class='BrianImage'>
      <div class='Text'>
        <h1 class='MessageGTD'>Hello, we're gtd.</h1>'
      </div>
    </div>
  </section>
  <section>
    <div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <h2 class='HowItStarted'>How it started</h2>
      <div class='HowItStartedTextDiv'>
        <p class='HowItStartedText'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris n
            isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in c
            ulpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <footer>
    <div class='Bar'>
    </div>
    <nav class='navbar navbar default' style='background-color: #4F4D53; padding: 48px;'>
      <div class='FooterDiv'>
        <div class='Row'>
          <div class='Column'>
            <p class='ColumnHeader'>Team</p>
            <p class='ColumnContent'>Lisa</p>
            <p class='ColumnContent'>Danielle</p>
            <p class='ColumnContent'>Brian</p>
            <br/>
            <p class='ColumnContent'>Join Us!</p>
          </div>
          <div class='Column'>
            <p class='ColumnHeader'>Learn More</p>
            <p class='ColumnContent'>Manifesto</p>
            <p class='ColumnContent'>Works</p>
            <p class='ColumnContent'>Stories</p>
          </div>
          <div class='Column'>
            <p class='ColumnHeader'>Meet Us</p>
            <p class='ColumnContent'>Studio</p>
            <p class='ColumnContent'>Community</p>
            <p class='ColumnContent'>Workshops</p>
          </div>
          <div class='Column'>
            <p class='ColumnHeader'>Contact</p>
            <p class='ColumnContent'>Twitter</p>
            <p class='ColumnContent'>Fcebook</p>
            <p class='ColumnContent'>Instagram</p>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</div>